spring:
  application:
    name: order-service
  profiles:
    active: default

server:
  port: 8082
  servlet:
    context-path: /api/v1.0.0

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
    info:
      access: read_only
  info:
    env:
      enabled: true

info:
  app:
    name: Order Service MS
    description: Handles order management, and filtering.
    version: 1.0.0
    owner: Rupesh Dulal
    website: https://www.alfarays.tech
  build:
    timestamp: "@timestamp@"
  developer:
    name: "Rupesh Dulal"
    email: "rupeshdulal672@gmail.com"
    github: "https://github.com/rupeshdulal"

